*{
  margin: 0;
  padding: 0;
}

body{
  background: rebeccapurple;
}

nav{
  padding: 4px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background: rgba(0, 0, 0, 0.5);
}

.logo{
  width: 250px;
  height: auto;
  /* font-family: 'Staatliches', cursive; */
  font-family: 'Changa', sans-serif;
  font-size: 40px;
  text-align: center;
  color: white;
}

.links{
  width: calc(50% - 150px);
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a{
  text-decoration: none;
  color: white;
}

section{
  width: 90%;
  height: calc(100vh - 75px);
  margin: 0 auto;
}